%nav {
  cursor: pointer;
  list-style: none;
  padding: 1rem;
  margin: 1rem 2rem;
  font-weight: 600;
  padding-left: 20%;
  border-radius: 10px;
  color: #fff;
}
.sidebar {
  height: 100vh;
  width: 446px;
  position: fixed;
  left: 0;
  background-color: #1b1e20;
  padding-top: 1rem;

  .heading {
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    span {
      color: #fcb205;
    }
  }
  .navigationList {
    .active {
      @extend %nav;
      background-color: #fcb205;
    }
    .item {
      @extend %nav;
    }
  }
}
