.main{
  margin-left: 446px;
  background-color: #000;
  color: #fff;
  min-width: calc(100vw - 446px);
  min-height: 100vh;

}
.main_component{
  background-color: #000;
  padding-top:118px ;
  min-height: calc(100vh - 118px);
}